extends layout

block content
  .statistics
    h2 Keyword: #{keyword}
    h4 Link: #{canonicalLink}
    h4 Lang: #{lang}
    h4.
      Description: 
      !{description}
    h4 Keyword: #{keyword}
    .well
      strong
        | Keyword present in title? 
        span.result !{occurrences.title}
      br
      strong
        | Keyword present in url? 
        span.result !{keyword_in_url}
      br
      strong
        | Keyword present page tags? 
        span.result !{has_tags_related}
      br      
      strong 
        | Num Occurrences of keyword:  
        span.result !{occurrences.body}
      br
      strong 
        | Num words in body:  
        span.result !{num_words}
      br
      strong 
        | Keyword Density:  
        span.result !{density}%
    strong Points #{points}
    .progress
      .progress-bar.progress-bar-success(role='progressbar', aria-valuenow=points, aria-valuemin='0', aria-valuemax='100', style="width: " + points + "%;")
          span.sr-only #{points}% Complete    

  h1!= title  
  hr
  h3 Body

  pre!= content
